<div class="row">
  <div class="row col-sm-6 col-sm-push-3">
    <div class="search">
      <input type="text" #searchInput class="form-control input-sm" placeholder="Search" />
      <button type="submit" (click)="search(searchInput.value)" class="btn btn-primary btn-sm">Search</button>
    </div>
  </div>
</div>
<div class="beer-container row">
  <div *ngFor="let beer of beersToDisplay" class="col-sm-4 nopadding">
    <beer-thumbnail [beer]="beer"></beer-thumbnail>
  </div>
</div>
