@import '../../variables';

.beer-container {
  margin-top: 15px;
}

.nopadding {
  padding: 0px !important;
}


.search input {
  width: 80%;
  float: Left;
  margin-left: 0px;
  height: 30px;
  line-height: 18px;
  padding: 0 2px 0 2px;
  border-radius:1px;
}

.btn {
  width: 20%;
  height: 30px;
  right: 0;
  top: 5px;
  border-radius:0px;
}
