<div class="beer-thumbnail">
  <div class="col-sm-3 image-container">
    <img class="center-block" src="{{beer.image_url}}">
  </div>
  <div class="col-sm-9">
    <div class="row fav-beer">
        <span (click)="addRemoveFavorites()" class="star glyphicon"
              [ngClass]="{'glyphicon-star-empty': !isFavorite, 'glyphicon-star': isFavorite }"></span>
    </div>
    <div class="row">
      <p class="punker-name">{{beer.name}}</p>
      <p class="punker-description">{{getDescription()}}</p>
    </div>
  </div>
</div>
