@import '../../variables';

.beer-thumbnail {
  margin: 10px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 10px;
}

.center-block {
  max-height: 180px;
  max-width: 60px;
}

.image-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.fav-beer {
  margin-top: 10px;
  width: 100%;
  color: $primary-color;
}

.fav-beer span {
  float: right;
}

.punker-description {
  margin-right: 10px;
}

.punker-name {
  font-weight: bold;
}

.star{
  cursor: pointer;
  font-size: 20px;
}
