<div class="navbar navbar-default punker-nav" role="navigation">
  <a class="navbar-brand punker-text">Beans Love Beers</a>
  <ul class="nav navbar-nav navbar-right">
    <li><a class="punker-text" [routerLink]="['/beers']">Home</a></li>
    <li><a class="punker-text" [routerLink]="['/favorites']">Favorites</a></li>
  </ul>
</div>
