<div class="row col-sm-6 col-sm-push-3">
    <div class="search">
      <input type="text" #searchInput class="form-control input-sm" placeholder="Search" />
      <button type="submit" (click)="search(searchInput.value)" class="btn btn-primary btn-sm">Search</button>
    </div>
</div>
